version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ppi_sis_postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 180903
      POSTGRES_DB: ppi_sis
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: ppi_sis_backend
    ports:
      - "8080:8080"
    environment:
      - PORT=${PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: ppi_sis_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
